body {
    background-color: rgb(6, 139, 73);
    font-family: sans-serif;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    color: antiquewhite;
}

.wrpa {
    width: 500px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    position: absolute;
    margin-left: 31%;
    margin-top: 5%;
    padding: 20px;
}

textarea {
    resize: none;
    position: relative;
    margin-bottom: 10px;
    padding: 15px;
    align-items: center;
    margin-left: auto;
    margin-top: 20px;
    background-color: rgb(173, 255, 170);
    outline: none !important;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 128, 79);
}

.limit {
    font-size: 15px;
    font-weight: 700;
    color: rgb(21, 141, 67);
    text-align: center;
}

::placeholder {
    color: rgb(76, 187, 122);
    font-weight: 600;
}


/*Smooth Scroll Bar Styles*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 246, 103, 0.3);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(5, 143, 102, 0.8);
}